relay: skopeo

tasks:
  - name: core
    source: &source
      registry: docker.io
      auth: ${DOCKERHUB_CREDENTIALS}
    target: &target
      registry: ghcr.io
      auth: ${GHCR_CREDENTIALS}
    mappings:
      - from: andrcuns/dependabot-gitlab
        to: dependabot-gitlab/dependabot-gitlab
        platform: all
  - name: ecosystem
    source: *source
    target: *target
    mappings:
      - from: andrcuns/dependabot-gitlab-${ECOSYSTEM}
        to: dependabot-gitlab/dependabot-gitlab-${ECOSYSTEM}
        platform: all
