relay: skopeo

tasks:
  - name: core
    source:
      registry: docker.io
    target:
      registry: ghcr.io
      auth: ${GHCR_CREDENTIALS}
    mappings:
      - from: andrcuns/dependabot-gitlab
        to: dependabot-gitlab/dependabot-gitlab
        platform: all
  - name: ecosystem
    source:
      registry: docker.io
    target:
      registry: ghcr.io
      auth: ${GHCR_CREDENTIALS}
    mappings:
      - from: andrcuns/dependabot-gitlab-${ECOSYSTEM}
        to: dependabot-gitlab/dependabot-gitlab-${ECOSYSTEM}
        platform: all
